name: "CI"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  CI:
    if: ${{ github.repository == 'dazuma/ractor-wrapper' }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            ruby: "4.0"
            tool: "--test"
          - os: macos-latest
            ruby: "4.0"
            tool: "--test"
          - os: ubuntu-latest
            ruby: "4.0"
            tool: "--rubocop --build --yard"
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Install Ruby ${{ matrix.ruby }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler: default
          bundler-cache: true
      - name: Install toys
        shell: bash
        run: "gem install --no-document toys"
      - name: Run ${{ matrix.tool }}
        shell: bash
        run: toys ci --only ${{ matrix.tool }} < /dev/null
